/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.bases-radar-container {
    background-color: var(--background-primary);
    padding: var(--size-4-3);
}


.bases-radar-grid {
    position: relative;
    width: 100%;
}

.bases-radar-item {
    display: flex;             /* Enable Flexbox */
    flex-direction: column;    /* Stack children vertically */

    position: absolute;
    box-sizing: border-box;
    /* width will be set by JS */

    will-change: transform;
    transition: box-shadow var(--anim-duration-fast) ease-in-out;

    border-radius: var(--radius-m); /* Sets the rounded corners */
    background-color: var(--bases-cards-background);
    box-shadow: var(--bases-cards-shadow);
 
    overflow: hidden;
    /*contain: strict;*/
}

.bases-radar-property {
    padding: var(--size-4-2);
/*     border-top: 1px solid var(--background-modifier-border);*/
}

.bases-radar-label {
    color: var(--text-muted);
    font-size: var(--font-ui-smaller);
    /* padding: var(--size-4-2);
} */
}
.null-value{
    color: var(--text-faint);
    font-weight: var(--font-semibold);
}
.bases-radar-line {
/* 1. Define the display mode that supports line clamping */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bases-radar-line .longText{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.radar-chart-container {
    aspect-ratio: 1 / 1;
    background-color: var(--bases-cards-cover-background);
}
