/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.bases-radar-container {
    background-color: var(--background-primary);
    padding: 10px;
    overflow: hidden;
}


.bases-radar-grid {
    display: grid;

    /* This magic line creates columns that automatically fill the space */
    /* It creates as many 300px columns as will fit, then stretches them */

    grid-template-columns: repeat(auto-fill, minmax(200px, 400px)); 

    /* COMMENTED OUT TO WORK ON LAYOUT ENGINE
    gap: 12px;
    padding: 4px;
    */
}

.bases-radar-item {
    display: flex;             /* Enable Flexbox */
    flex-direction: column;    /* Stack children vertically */

    transition: box-shadow var(--anim-duration-fast) ease-in-out;

    border-radius: var(--radius-m); /* Sets the rounded corners */
    background-color: var(--bases-cards-background);
    box-shadow: var(--bases-cards-shadow);
 
    overflow: hidden;
    /*contain: strict;*/
}

.bases-radar-property {
    padding: var(--size-4-2);
/*     border-top: 1px solid var(--background-modifier-border);
 */}

.bases-radar-label {
    color: var(--text-muted);
    font-size: var(--font-ui-smaller);
    padding: var(--size-4-2);
}
.null-value{
    color: var(--text-faint);
    font-weight: var(--font-semibold);
}
.bases-radar-line {
    padding: 2px 8px;
}

.bases-radar-chart {
    aspect-ratio: 1 / 1;
    background-color: var(--bases-cards-cover-background);
}
